.categories-header {
  width: 100%;
  height: 80px;
  display: inline-block;

  h2 {
    font-size: 30px;
    margin-top: 8px;
    margin-bottom: 8px;
  }

  p {
    font-size: 14px;
  }
}

.categories-container {
  height: calc(100% - 80px);
  overflow-y: scroll;

  border: 1px solid $yellow-dark;
  border-bottom: none;

  .category {
    display: block;
    width: 100%;
    height: 50px;
    line-height: 50px;

    padding-left: 10px;

    border-bottom: 1px solid $yellow-dark;

    color: $text-dark;
    text-decoration: none;

    background-color: transparent;

    transition: background-color 0.2s;

    &:hover {
      background-color: $yellow;
      text-decoration: none;
      font-weight: normal;
    }
  }
}
