body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: $yellow;
}

#wrapper-content {
  width: 100%;
  height: calc(100% - 60px);
  max-width: 450px;

  margin-left: auto;
  margin-right: auto;

  padding: 4px;

  background-color: $yellow;
}

#content {
  width: 100%;
  height: 100%;

  background-color: $yellow-light;
  padding: 8px;

  border-radius: 5px;
  border: 1px solid $yellow-dark;

  -moz-box-shadow: inset 0 0 8px -1px $yellow-dark;
  -webkit-box-shadow: inset 0 0 8px -1px $yellow-dark;
  box-shadow: inset 0 0 8px -1px $yellow-dark;
}


h1, h2, h3, h4, h5, p, a, ul, ol, li {
  font-family: $body-font;
  color: $text-dark;
}

p, a, ul, ol, li {
  font-weight: 300;
}

a {
  text-decoration: underline;

  &:hover {
    font-weight: 500;
    color: $text-dark;
  }
}
